@import "fontawesome.css";

/*--------*/

@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Saira-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Saira";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Saira-Italic.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0;
}

:root,
input {
  font-family: "Saira";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}